---

---

<section id="about">
  <p class="text-lg font-body">
    Highly skilled and motivated Frontend Developer with over 3 years of experience in
    developing mobile and web applications. Proficient in Javascript, Dart, Kotlin and
    Swift, with a passion for creating clean, user-friendly, and efficient code that is
    easy to maintain and scale. Strong problem-solving skills and attention to detail,
    with the ability to work collaboratively in a team environment. Effective
    communication skills and a track record of delivering high-quality projects on time.
  </p>
</section>
