---

---

<section id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-dark-green/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">
      About
    </h2>
  </div>
  <p class="font-body text-slate-300">
    Highly skilled and motivated <strong class="text-white">Frontend Developer</strong>
     with over <strong class="text-white">3 years of experience</strong> in developing
    mobile and web applications. Proficient in <strong class="text-white"
      >Javascript</strong
    >, <strong class="text-white">Dart</strong>, <strong class="text-white">Kotlin</strong
    > and <strong class="text-white">Swift</strong>, with a passion for <strong
      class="text-white">creating clean</strong
    >,
    <strong class="text-white">user-friendly</strong>, and <strong class="text-white"
      >efficient code</strong
    > that is easy to <strong class="text-white">maintain and scale</strong>. Strong
    problem-solving skills and <strong class="text-white">attention to detail</strong>,
    with the ability to work collaboratively in a team environment. Effective
    communication skills and a track record of delivering <strong class="text-white"
      >high-quality projects on time</strong
    >.
  </p>
</section>
