---

---

<section id="about">
  <p class="font-body text-slate-300">
    Highly skilled and motivated <strong class="text-white">Frontend Developer</strong>
     with over <strong class="text-white">3 years of experience</strong> in developing
    mobile and web applications. Proficient in <strong class="text-white"
      >Javascript</strong
    >, <strong class="text-white">Dart</strong>, <strong class="text-white">Kotlin</strong
    > and <strong class="text-white">Swift</strong>, with a passion for <strong
      class="text-white">creating clean</strong
    >,
    <strong class="text-white">user-friendly</strong>, and <strong class="text-white"
      >efficient code</strong
    > that is easy to <strong class="text-white">maintain and scale</strong>. Strong
    problem-solving skills and <strong class="text-white">attention to detail</strong>,
    with the ability to work collaboratively in a team environment. Effective
    communication skills and a track record of delivering <strong class="text-white"
      >high-quality projects on time</strong
    >.
  </p>
</section>
