---
import About from './About.astro';
import Education from './Education.astro';
import Experience from './Experience.astro';
---

<main id="scrollspy-1" class="flex flex-col w-full lg:w-1/2 py-20">
  <About />
  <Experience />
  <Education />
</main>
