---
import About from './About.astro';
import Education from './Education.astro';
import Experience from './Experience.astro';
---

<main class="flex flex-col lg:w-1/2 py-24">
  <About />
  <Experience />
  <Education />
</main>
