---
import ExperienceItem from './ExperienceItem.astro';
---

<section
  id="experience"
  class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
  aria-label="Work experience"
>
  <div
    class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-dark-green/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0"
  >
    <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">
      Experience
    </h2>
  </div>
  <ol class="group/list">
    <ExperienceItem
      from="October 2022"
      to="Present"
      position="Frontend Developer"
      organization="NTSprint"
      organizationUrl="https://ntsprint.com"
      description="Develop and maintain software applications using Flutter, React, NextJS, React Native, iOS native and Android native. Collaborate with cross-functional teams to design and implement UI components. Implement REST APIs and integrate with back-end services. Conduct code reviews and implement best practices for code quality and performance.Participate in daily meetings and provide progress reports. Communicate directly with clients."
      skills={[
        'Flutter',
        'React',
        'NextJS',
        'Astro',
        'React Native',
        'iOS native',
        'Android native',
        'Typescript',
        'Dart',
        'Kotlin',
        'Swift',
      ]}
    />
    <ExperienceItem
      from="December 2023"
      to="August 2024"
      position="Mobile Developer"
      organization="Aleph Engineering"
      organizationUrl="https://aleph.engineering"
      description="Developed and maintained software applications using Flutter. Improved existing applications and resolved issues efficiently. Collaborated with cross-functional teams to design and implement UI components. Implemented REST APIs and integrated with back-end services. Conducted code reviews and implemented best practices for code quality and performance. Participated in daily meetings and provided progress reports."
      skills={['Flutter', 'Dart']}
    />
    <ExperienceItem
      from="November 2023"
      to="July 2024"
      position="Mobile Developer"
      organization="Fleetr"
      organizationUrl="https://fleetr.com/"
      description="Maintained mobile applications using iOS native and Android native. Improved existing applications and resolved issues efficiently. Developed applications using Flutter. Collaborated with cross-functional teams to design and implement UI components. Implemented REST APIs and integrated with back-end services. Participated in weekly meetings and provided progress reports."
      skills={['Flutter', 'iOS native', 'Android native', 'Dart', 'Kotlin', 'Swift']}
    />
    <ExperienceItem
      from="August 2022"
      to="October 2022"
      position="Frontend Developer"
      organization="Recharge Phones"
      organizationUrl="https://www.recharge-phones.com/"
      description="Develop and maintain a software application using Flutter. Collaborated with product managers, designers, and back-end developers to define project requirements and specifications. Implement REST APIs and integrate with back-end services. Conduct code reviews and implement best practices for code quality and performance."
      skills={['Flutter', 'iOS native', 'Android native', 'Dart', 'Kotlin', 'Swift']}
    />
    <ExperienceItem
      from="September 2021"
      to="August 2022"
      position="Frontend Developer"
      organization="Walak"
      organizationUrl="https://walak.app/"
      description="Developed and maintained software applications using ReactJS, NextJS, and Flutter frameworks. Collaborate with cross-functional teams to design and implement UI components. Conducted code reviews and implemented best practices for code quality and performance. Improved existing applications and resolved issues in a timely manner."
      skills={['React', 'NextJS', 'Flutter', 'Typescript', 'Dart']}
      />
      <ExperienceItem
      from="May 2021"
      to="September 2021"
      position="Frontend Developer"
      organization="UnivCell"
      organizationUrl="https://www.univcell.com/"
      description="Developed a software application using Flutter framework. Designed and implemented UI components and integrated with back-end services. Maintained and improved existing applications and resolved issues in a timely manner."
      skills={['Flutter', 'iOS native', 'Android native', 'Dart', 'Kotlin', 'Swift']}
    />
    <ExperienceItem
      from="September 2020"
      to="April 2021"
      position="Full Stack Developer"
      organization="WsDevWorld"
      description="Developed and maintained software applications using Flutter, ReactJS, NodeJS, and Spring Boot frameworks. Implemented REST APIs and integrated with back-end services. Participated in team meetings to discuss project progress and requirements. Conducted code reviews and implemented best practices for code quality and performance."
      skills={['Flutter', 'React', 'NodeJS', 'SpringBoot', 'Typescript', 'Dart', 'Java']}
    />
  </ol>
</section>
